# Secrets & env
.env
.env.local
.env.*.local

# Dependencies & build output
node_modules/
dist/
.vite/
coverage/

# Logs & OS
*.log
npm-debug.log*
.DS_Store

# IDE (WebStorm/IntelliJ). Retire cette ligne si tu veux versionner .idea/
.idea/
